/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require 'css3-progress-bar'
 */

@import "bootstrap-sprockets";
@import "bootstrap";


$red: #4CAF83;
$grey: #25283D;
$light_grey: #535964;

/* -------------------------------- 

Primary style

-------------------------------- */

@font-face{
  font-family:"Proxima Nova";
  src:asset-url("Proxima_Nova.ttf") format("truetype");
}



*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $grey;
  background-color: #f5f8f9;
  -webkit-font-smoothing: antialiased;
  font-family: 'Proxima Nova', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $red;
  text-decoration: none;
  background-color: transparent;
  &:hover {
  	text-decoration: none;
  	border: none;
  }
}

.button {
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: .8rem 1.6rem;
	border-radius: .4rem;
	outline: none;
	border: 2.1px solid;
	background-color: transparent;
}

.button_red {
	color: white;
	background-color: $red;
	&:hover {
		background-color: #920081;
		border: solid 2px transparent;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $grey;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: $grey;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

  .cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: $grey;
  font-size: 1.4rem;
  border-top: 1px solid #f2f2f2;
  text-transform: uppercase;
  margin-top: 7px;
}

input[type="text"] {

	border: none;
	box-shadow: none;
	border-bottom: solid 2px #f2f2f2;
}

.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: $red;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: $grey;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-secondary-nav::after {
  /* gradient on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  background: -webkit-linear-gradient(right, $grey, rgba(37, 40, 61, 0));
  background: linear-gradient(to left, $grey, rgba(37, 40, 61, 0));
  pointer-events: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}
.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  font-size: 15px;
  opacity: .6;
  line-height: 50px;
  padding: 0 1em;
}
.cd-secondary-nav a:hover, .cd-secondary-nav a.active {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 70px;
    overflow: visible;
  }
  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .cd-secondary-nav a {
    line-height: 70px;
  }
  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px $red;
  }
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
.cd-secondary-nav.fixed {
  position: fixed;
  top: 60px;
}
.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 $grey;
  }
  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main-content {
  padding: 60px 5% 2em;
  overflow: hidden;
}
.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 110px;
}
.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}
.cd-main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 2em auto;
  color: #a5a8a9;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content {
    padding-top: 80px;
  }
  .cd-main-content.sub-nav {
    padding-top: 150px;
  }
  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }
  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* -------------------------------- 

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 60px;
  height: 300px;
  background-image: image-url("cd-hero-background.jpg");
  background-repeat: no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 350px;
    margin-top: 80px;
  }
}


/**/
/**/

#tagin {
	margin: 3rem 0;
	ul {
		text-decoration: none;
		margin: 0;
		padding: 0;
		 li {
		 	padding: 5px 10px;
		 	border: solid 1.1px $grey;
		 	margin: 1rem 1rem;
		 	float: left;
		 	display: inline;
		 	&:hover {
		 		border: solid 1.1px $red;
		 	}
		 	a {
		 		color: $grey;
		 		&:hover {
		 			color: $red;
		 		}
		 	}
		 }
	}
}


#tres {
	.nue {
		padding: 0 1rem;
		margin-bottom: 3rem;
		.boxes {
			height: 470px;
			background-color: white;
			padding: 2rem;
			border-radius: 11px;
			border: solid 1px #e2e8ea;
			-webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
    	box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
    	.collec {
    		span {
    			position: absolute;
    			left: 45px;
    			top: 35px;
    			font-size: 22px;
    			color: #ff1d1d;
    		}
    	}
    	.imagen {
    		  width: 100%;
  				height:180px;
  				border-top-left-radius:20px;
  				border-bottom-right-radius:20px;
					display:block;
    			overflow: hidden;
    			img {
    				width: 100%;
    			}
    	}
    	h4 {
    		position: absolute;
    		top: 150px;
    		right: 30px;
    		padding: 10px;
    		background-color: white;
    	}
    	h6 {
    		padding: 5px;
    		display: inline;
    		color: $red;
    		border: 1px solid $red;
    		margin-top: 1px; 
    		position: absolute;
    	}
    	h2 {
    		margin-top: 60px;
    		text-transform: uppercase;
    		font-size: 16px;
    		color: black;
    	}
    	h3 {
    		padding: 10px;
    		background-color: $grey;
    		color: white;
    		border-radius: 50%;
    		position: absolute;
    		display: block;
    		font-size: 15px;
    		right: 35px;
    		bottom: 10px;
    		-webkit-box-shadow: 2px 2px 1px rgba(46,133,155,0.04);
    		box-shadow: 2px 2px 1px rgba(46,133,155,0.04);
    	}
    	p {
    		color: $light_grey;
    		font-size: 12px;
    		margin: 20px 0;
    	}
    	h4 {
    		font-size: 20px;
    	}
    	h1 {
    		font-size: 20px;
    		color: grey;
    	}
    	.finales {
    		h5 { 
    			color: #a8a8a8;
    			font-size: 13px;
    			margin-right: 50px;
					span {
						margin-right: 5px;
					}
    		}
    	}
		}
	}
}

#breadcrum {
	text-align: center;
	ul {
		margin-top: 3rem;
		list-style: none;
		padding: .5rem 0;
    li {
    	display: inline;
      a {
        color: #747c83;
        font-size: 1.4rem;
  &:hover {
    color: $red;
    text-decoration: none;
  }
      }
    }
	}
}

#chow {
	.imagen {
		width: 100%;
		height:430px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 30px;
	}
	p {
		margin-top: 2rem;
		font-size: 14px;
	}
	h3 {
		padding: 10px;
    		background-color: $grey;
    		color: white;
    		border-radius: 50%;
    		display: inline-block;
    		
    		font-size: 15px;
    		-webkit-box-shadow: 2px 2px 1px rgba(46,133,155,0.04);
    		box-shadow: 2px 2px 1px rgba(46,133,155,0.04);
	}
	.button {
		font-size: 20px;
	}
}

.face {
    background-color: #3b5998;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .5rem;
    &:hover {
    opacity: .8;
    }
  }
    .twitter {
    background-color: #55acee;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .5rem;
    &:hover {
    opacity: .8;
    }
  }
    .insta {
    background-color: #e95950;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .5rem;
    &:hover {
    opacity: .8;
    }
  }
    .you {
    background-color: #bb0000;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .5rem;
    &:hover {
    opacity: .8;
    }
  }

#share {
	margin-top: 3rem;
}

#formario {
	padding: 3rem 5rem;
	background-color: white;
	/*border: 1px solid rgba(0,0,0,.09);*/
	border-radius: 3px;
	margin: 0 0;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2em;
		margin-bottom: 0;
	}
	input[type="submit"] {
		transition: background-color .25s linear;
  font-size: 15px;
  min-width: 200px;
  border-radius: 2px;
  padding: 5px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1rem; 
  background-color: transparent;
 	color: $red;
	border: solid 2px $red;
	margin-top: 4rem;
	display: block;
  margin: 0 auto;
	&:hover {
    color: white;
    background-color: $red;
  }

	}
	input[type="name"], input[type="email"], input[type="number"], input[type="date"], input[type="text"], input[type="password"], textarea {
	width: 100%;
	height: 3.5rem;
	border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 1.5srem;
  background-color: white !important;
	}
  textarea {
    height: 30rem !important;
  }
	label {
	margin-top: 1rem;
	font-weight: 900;
	text-align: center;
		text-transform: uppercase;
		font-size: 1em;
}
	a {
		color: $red;
		font-size: 1em;
	}
	em {
		margin-top: 4rem;
	}
	table {
		margin-top: 2rem;
	}
	th {
		padding: 0 2rem 0 0;
	}
}

#formariol {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 2rem;
			border: 3px solid $red;
			margin: 2rem 5px;
		}
	}
}
